{% extends 'layouts/admin.html.twig' %}

{% block title %}FBC - Recipe types{% endblock %}

{% block page_title %}
    {% include 'layouts/layout/partials/_page-title.html.twig' with {
        title: 'FBC',
        breadcrumbs: [
            { 'Home': path('app_admin_dashboard') },
            'Recipe types'
        ]
    } %}
{% endblock %}

{% block content %}
    <div class="row g-7"
         data-controller="admin--shared--modal-form"
         data-admin--shared--modal-form-reload-content-url-value="{{ path('app_admin_recipe_types_index') }}"
    >
        <div class="col-lg-6 col-xl-12">
            <div class="card mb-6">
                <div class="card-header">
                    <h3 class="card-title">Recipe Types</h3>
                    <div class="card-toolbar">
                        <a href="{{ path('app_admin_recipe_types_new') }}"
                           class="btn btn-sm btn-light-primary"
                           data-action="admin--shared--modal-form#openModal"
                           data-admin--shared--modal-form-edit-action-value="false"
                        >New Recipe Type</a>
                    </div>
                    {% include 'shared/_flash-messages.html.twig' %}
                </div>
                <div class="card-body pt-9 pb-9">
                    <div class="table-responsive">
                        <table class="table table-row-bordered gy-5"
                               id="example-table"
                               data-exclude-sort-columns="3"
                               data-length-menu="[5,10]"
                        >
                            <thead>
                            <tr class="fw-semibold fs-6 text-muted">
                                <th scope="col" class="col-4">Name</th>
                                <th>Expenses percentage(%)</th>
                                <th>Profit percentage(%)</th>
                                <th scope="col" class="col-2"></th>
                            </tr>
                            </thead>
                            <tbody data-admin--shared--modal-form-target="updatableContent">
                            {% include 'admin/recipe_types/_recipe-type.html.twig' with { recipeTypes } %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--start::Shared Modal container -->
        {% include 'shared/_modal-form.html.twig' with { modal_title: 'Recipe Type'} %}
        <!--end::Shared Modal container -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="module">
        import DataTable from "datatables.net-bs5"

        new DataTable("table", {
            columnDefs: [{orderable: false, targets: 3}],
            order: [[0, 'asc']]
        });
    </script>
{% endblock %}
