{% for productType in productTypes %}
    <tr data-row-index="{{ loop.index0 }}">
        <td>{{ productType.name|capitalize }}</td>
        <td>
            <twig:edit-button url="{{ path('app_admin_product_types_edit', { id: productType.id }) }}"/>
            <twig:delete-button
                    url=""
                    csrfTokenId="{{ csrf_token('delete' ~ productType.id) }}"
                    method="delete"
            />
        </td>
    </tr>
{% endfor %}
