    <tr data-row-index="{{ loop.index0 }}">
        <td>{{ productType.name|capitalize }}</td>
        <td>
            <a href="{{ path('app_admin_recipe_types_edit', { id: productType.id }) }}"
               class="btn btn-sm btn-light-primary ms-lg-5 float-start"
               data-action="admin--shared--modal-form#openModal"
               data-admin--shared--modal-form-edit-action-value="true"
            >Edit</a>
            <twig:delete-button
                    url=""
                    csrfTokenId="{{ csrf_token('delete' ~ productType.id) }}"
                    method="delete"
            />
        </td>
    </tr>
