<div class="d-flex flex-column gap-5 mt-7">
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Type</div>
        <div class="fw-bold fs-5">{{ product.productType.name|capitalize }}</div>
    </div>
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Unit of measure</div>
        <div class="fw-bold fs-5">{{ product.unit }}</div>
    </div>
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Price</div>
        <div class="fw-bold fs-5">{{ product.pricePerUnit|format_currency('USD') }}</div>
    </div>
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Notes</div>
        <p>{{ product.notes|default('-')|raw }}</p>
    </div>
</div>
