<div class="card card-flush h-lg-100">
    <div class="card-header pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-900">{{ product.recipeIngredients|length }} Recipes</span>
        </h3>
    </div>
    <div class="card-body pt-5">
        {% for recipeIngredient in product.recipeIngredients %}
            <div class="d-flex flex-stack">
                <div class="text-gray-700 fw-semibold fs-6 me-2">
                    {{ recipeIngredient.recipe.name|capitalize }}
                    <a href="{{ path('app_admin_recipes_edit', { id: recipeIngredient.recipe.id }) }}" target="_blank">
                        <i class="ki-duotone ki-exit-right-corner fs-2"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="View recipe"
                        >
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </a>
                </div>
                <div class="d-flex align-items-center"
                ><span class="text-gray-500 fw-bold fs-6"
                    >{{ sale_price_of_recipe(recipeIngredient.recipe)|number_format(2)|format_currency('USD') }}</span>
                </div>
            </div>
            <div class="separator separator-dashed my-3"></div>
        {% endfor %}
    </div>
</div>
