{% extends 'layouts/admin.html.twig' %}

{% form_theme form _self %}

{% block title %}FBC - Recipes{% endblock %}

{% block page_title %}
    {% include 'layouts/layout/partials/_page-title.html.twig' with {
        title: 'THE PROFIT PLATE',
        breadcrumbs: [
            { 'Home': path('app_admin_dashboard') },
            { 'Recipes': path('app_admin_recipes_index') },
            'New'
        ]
    } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/trix-toolbar.css') }}">
{% endblock %}

{% block _recipe_form_picture_row %}
    {% include 'shared/_custom-picture-field.html.twig' with { form } %}
{% endblock %}

{% block content %}
    <div class="row g-7">
        <div class="col-lg-6 col-xl-12">
            <div class="card mb-6">
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <h3 class="card-title">New Recipe</h3>
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <a href="{{ path('app_admin_recipes_index') }}"
                           class="btn btn-sm btn-light-secondary me-2"
                           data-action="admin--shared--modal-form#openModal"
                        ><i class="ki-duotone ki-exit-left fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>Back to Recipes</a>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <div class="card-body pt-9 pb-9">
                    {% include 'admin/recipes/_form.html.twig' with { form, recipe } %}
                    <!--begin::Zoom image modal-->
                    {% include 'shared/_modal-zoom-image.html.twig' %}
                    <!--end::Zoom image modal-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module">
        import "trix/dist/trix.min.css";
        import "trix";
    </script>
{% endblock %}
