<div class="row g-5 g-xl-10 h-xxl-50 mb-0 mb-xl-10 mt-5">
    {% include 'admin/dashboard/_latest-recipes-updated.html.twig' with { recipes: latest_updated.recipes } %}
    {% include 'admin/dashboard/_latest-products-updated.html.twig' with { products: latest_updated.products }%}
</div>
