{% extends 'layouts/admin.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}
    {% include 'layouts/layout/partials/_page-title.html.twig' with {
        title: 'THE PROFIT PLATE',
        breadcrumbs: [
            { 'Home': path('app_admin_dashboard') },
            'Dashboard'
        ]
    } %}
{% endblock %}

{% block content %}
    {% include 'admin/dashboard/_overview.html.twig' with { overview: stats.overview } %}
    <div data-controller="admin--shared--image-zoom">
        {% include 'admin/dashboard/_latest-updated.html.twig' with { latest_updated: stats.latest_updated } %}
        <!--begin::Zoom image modal-->
        {% include 'shared/_modal-zoom-image.html.twig' %}
        <!--end::Zoom image modal-->
    </div>
{% endblock %}
