<a href="{{ url }}"
   class="btn btn-sm btn-light-primary ms-lg-5 float-start"
   {{ showInModal|default(true) ? 'data-action="admin--shared--modal-form#openModal"' : '' }}
>{{ title|default('Edit') }}</a>
