{{ form_errors(form) }}
<div class="image-input image-input-empty image-input-outline image-input-placeholder mt-5 mb-3"
     data-controller="admin--shared--table-updater admin--shared--modal-form admin--shared--table-filter"
     data-action="click->admin--shared--image-zoom#zoomImage"
     data-kt-image-input="true"
>
    {% set image_url = picture_url|default(asset('templates/media/files/blank-image.svg')) %}

    <div class="image-input-wrapper w-150px h-150px zoom-image cursor-pointer"
         data-image-url="{{ image_url }}"
         style="background-image: url({{ image_url }})"
    ></div>
    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
           data-kt-image-input-action="change" data-bs-toggle="tooltip"
           aria-label="Change picture" data-bs-original-title="Change picture"
           data-kt-initialized="1"
    >
        <i class="ki-duotone ki-pencil fs-7">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
        <input type="file" name="{{ full_name }}" accept=".png, .jpg, .jpeg">
        <input type="hidden" name="picture_remove">
    </label>
    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
          data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
          aria-label="Cancel picture" data-bs-original-title="Cancel picture"
          data-kt-initialized="1"
    ><i class="ki-duotone ki-cross fs-2"
        ><span class="path1"></span><span class="path2"></span></i></span>
    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
          data-kt-image-input-action="remove" data-bs-toggle="tooltip"
          aria-label="Remove picture" data-bs-original-title="Remove picture"
          data-kt-initialized="1"
    ><i class="ki-duotone ki-cross fs-2"
        ><span class="path1"></span><span class="path2"></span></i></span>
</div>
<div class="text-muted fs-7">Only *.png, *.jpg and *.jpeg image files are accepted</div>
