<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     role="dialog"
     data-admin--shared--image-zoom-target="zoomModal"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" data-admin--shared--image-zoom-target="modalTitle"></h3>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                     data-bs-dismiss="modal"
                     aria-label="Close"
                >
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body text-center" data-admin--shared--image-zoom-target="imageContainer"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
